@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #222831;
}

.header-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.header-container h3 {
  font-size: 2rem;
  color: white;
  flex: 1;
  letter-spacing: 2px;
}

.search-bar-container {
  display: flex;
  flex: 2;
}

.material-icons {
  color: white;
}

.search-bar-container .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5em;
  border-radius: 0 10px 10px 0;
  border-style: none;
  background-color: hsl(120, 42%, 24%);
}

.search-bar-container .search-button:hover {
  background-color: hsl(156, 73%, 10%);
  cursor: pointer;
}

.search-bar-container .search-input {
  height: 2.5em;
  width: 50%;
  border-radius: 10px 0 0 10px;
  border-style: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.9rem;
}

.header-container > .avatar {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 50%;
  object-fit: contain;
}

/*Main*/

/*Card Element*/
main .card-container {
  display: grid;
  grid-template: auto 1fr 1fr 1fr / repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem 1rem;
  height: 100%;
  padding: 1rem;
}

.card-container > .card-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  width: 350px;
  max-width: 350px;
  height: 300px;
  border-radius: 1rem;
  padding: 3rem 1rem;
  background-color: white;
}

.card-element > .remove-btn {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  padding: 0.4rem 1.5rem;
  border-radius: 0.4rem;
  border-style: none;
  background-color: #572357;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  cursor: pointer;

  transition: 500ms ease-in-out;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.card-element > .remove-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
  transform: scaleX(0);
  transition: transform 300ms ease-in;
  transform-origin: left;
}

.card-element > .remove-btn:hover {
  transform: scale(1.12);
}

.card-element > .remove-btn:hover::after {
  transform: scaleX(1);
}

/*Form Element*/
main .add-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 92%;
  top: 92%;
}

main > .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 15;
}

.main-container > #popupForm {
  padding: 4ch;
  border-radius: 0.5rem;
  border-style: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.35) inset;
}

#popupForm::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

#popupForm[open] {
  animation: fade-in 0.5s ease-in forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form > .form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

form > fieldset {
  border: none;
  outline: none;
  position: relative;
}

form > .input-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-family: "Poppins", sans-serif;
}

.input-section > .input-field {
  padding: 0.15rem 0;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid silver;
}

.input-section > .input-field::placeholder {
  text-transform: uppercase;
  font-size: 1rem;
}

.input-section > label,
.checkbox-section > label {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.checkbox-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-section > .checkbox-field {
  appearance: none;
  position: relative;
  width: 7ch;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
}

.checkbox-field::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  transition: left 0.3s;
}

.checkbox-field:checked {
  background-color: hsl(120, 28%, 33%);
}

.checkbox-field:checked::after {
  left: 70%;
}

form > .button-section {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.button-section > button {
  width: 100%;
  max-width: 100px;
  padding: 0.4rem 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 0.45rem;
  outline: none;
  border: none;
  background-color: hsl(120, 42%, 24%);
  color: hsl(0, 0%, 90%);

  transition: 0.25s ease-in-out;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.button-section > button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
  transform: scaleX(0);
  transition: transform 300ms ease-in;
  transform-origin: left;
}

.button-section > button:hover {
  transform: scale(1.12);
}

.button-section > button:hover::after {
  transform: scaleX(1);
}
